html {
	height: 100% 
}
body {
	height: 100%;
	margin: 0px;
	padding: 0px 
}
#container {
	width: 100%;
	height: 100% 
}
#nav {
	width: 100%;
}
.map {
	width: 100%;
	height: 95%;
	visibility: visible;
}
.nomap {
	visibility: hidden;
}

.input {
	width: 300px;
}
.navbar-link {
	color: white;
}
